<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela Domingo Faustino Sarmiento</h1> - <h3>(years)</h3>
                <p>Curse desde jardín hasta primaria.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Escuela Mariano Moreno ESJA</h1> - <h3>(years)</h3>
                <p>Escuela nocturna donde termine la secundaria.</p>
            </li>
        </ul>
    </div>
</div>
