<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/profile-photo.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Isaias Zacur</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur earum ratione veniam debitis aperiam blanditiis cupiditate saepe neque 
                illum voluptatum eligendi dicta ab sequi, esse expedita fuga inventore fugit voluptates?</p>
        </span>
    </div>
</div>